.img_wrk
{
	width: 181px;
    margin: 25px auto;
    margin-bottom: 30px;
}
.btn_wid
{
    width: 110px;
}


@media(min-width: 320px) and (max-width: 767px){
	.text-wrap {
    top: 73%;
    text-align: center;
}
.str_pos
{
    top: -6px !important;
}
h1 {
    text-align: center;
    margin: 0 0 3px;
}
h5 {
    text-align: center;
    font-size: 15px;
    margin: 0 0 3px;
}

}
@media(min-width: 1366px){
.item:nth-child(1) {
  background-position: unset;
  
}
}
@media(min-width: 320px) and (max-width: 359px){
    h1 {
    font-size: 17px;
}
}
@media(min-width: 768px){
.br_wrd
{
    display: block;
}
}